.all-currency-inputs {
  margin: 50px 0;
}

/* Align select and input field */
.align {
  display: inline-block;
}

/* Currency input field */
.currency-input {
  border: 1px solid #cbcfd0;
  color: #5b5b5b;
  font-weight: bold;
  direction: rtl;
}

.currency-input:focus {
  -webkit-box-shadow: inset 2px 2px 20px 8px #7de5ff;
  box-shadow: inset 2px 2px 20px 8px #7de5ff;
  border: 1px solid #7de5ff;
}

/* Select */
.styled-select {
  height: 38px;
  border-radius: 4px;
  border: 1px solid #cbcfd0;
}

img {
  cursor: pointer;
}

/* Warning */
.hide {
  display: none;
}
.warning {
  color: red;
}

/* Responsive swap button rotation */
@media only screen and (max-width: 767px) {
  img {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
  }

  .all-currency-inputs {
    margin: 20px 0;
  }
}