.all-currency-inputs {
  margin: 50px 0;
}

/* Align select and input field */
.align {
  display: inline-block;
}

/* Currency input field */
.currency-input {
  border: 1px solid var(--light-gray);
  color: var(--dark-gray);
  font-weight: bold;
  direction: rtl;
}

.currency-input:focus {
  box-shadow: inset 2px 2px 20px 8px var(--focus-color);
  border: 1px solid var(--border-color);
}

/* Select */
.styled-select {
  height: 38px;
  border-radius: 4px;
  border: 1px solid var(--light-gray);
}

img {
  cursor: pointer;
}

/* Warning */
.hide {
  display: none;
}
.warning {
  color: red;
}

/* Responsive swap button rotation */
@media only screen and (max-width: 867px) {
  img {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
  }
}